@import '../../../stylesheet/variables.css';

td {
  min-height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .transactionTable {
    display: flex;
    align-content: stretch;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background: #FFF;
  }

  .transactionsText {
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(233, 193, 241);
    text-align: center;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .transactionTable thead,
  .transactionTable tbody {
    flex-grow: 1;
    display: flex;
    align-content: stretch;
  }

  .transactionTable tr {
    flex-grow: 1;
  }

  .transactionTable tr {
    text-transform: capitalize;
    font-weight: var(--font-weight);
    text-align: left;
    position: relative;
    display: flex;
    align-items: stretch;
  }

  .transactionTable.expens tr:not(:last-child):not(:first-child)::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    background-color: var(--color-background-pink);
    width: 0.3125rem;
    height: 100%;
  }

  .transactionTable.income tr:not(:last-child):not(:first-child)::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    background-color: var(--color-background-turquoise);
    width: 0.3125rem;
    height: 100%;

  }

  .transactionTable td {
    text-align: right;
    font-weight: 400;
  }

  /* .transactionTable th,
  .transactionTable td {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.5rem;

    padding: 0.75rem 1.25rem;
    display: block;
    background-color: var(--white);
  } */

  /* .transactionTable th:not(:last-child),
  .transactionTable td:not(:last-child) {
    border-bottom: 2px solid #dcdcdf;
  } */

  .transactionTable.expens tr:first-child,
  .transactionTable.income tr:first-child {
    border-top-left-radius: 10px;
  }

  .transactionTable.expens tr:last-child,
  .transactionTable.income tr:last-child {
    border-bottom-left-radius: 10px;
  }

  .transactionTable.expens tr:first-child::before {
    position: absolute;
    content: ' ';
    top: 2px;
    left: 0;
    background-color: var(--color-background-pink);
    width: 0.3125rem;
    height: 96%;
    border-top-left-radius: 10px;
  }

  .transactionTable.expens tr:last-child::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    background-color: var(--color-background-pink);
    width: 0.3125rem;
    height: 98%;
    border-bottom-left-radius: 10px;
  }

  .transactionTable.income tr:first-child::before {
    position: absolute;
    content: ' ';
    top: 2px;
    left: 0;
    background-color: var(--color-background-turquoise);
    width: 0.3125rem;
    height: 96%;
    border-top-left-radius: 10px;

  }

  .transactionTable.income tr:last-child::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    background-color: var(---color-background-turquoise);
    width: 0.3125rem;
    height: 98%;
    border-bottom-left-radius: 10px;
  }

  /* .transactionTable td:first-child {
    border-top-right-radius: 10px;
  }

  .transactionTable td:last-child {
    border-bottom-right-radius: 10px;
    position: relative;
  } */

  .transactionTable .expensSum {
    color: var(--pink);
    font-size: 1rem;
    font-weight: var(--font-weight);
    line-height: 24px;
    padding: 0.75rem 1.25rem;
  }

  .transactionTable .incomeSum {
    color: var(--color-text-fourth);
    font-weight: var(--font-weight);
    font-size: 1rem;
    line-height: 24px;
    padding: 0.75rem 1.25rem;
  }



  .tableH {
    color: #000;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.75rem 1.25rem;
  }

  .tbody {
    display: flex;
    flex-direction: column;
  }

  .tableR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #dcdcdf;


  }

  .tableD {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
  }


  .btnDelete {
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-fourth);
    border: none;
    background: #24CCA7;
    color: var(--color-text-fifth);
    text-align: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-fifth);
  }

  .editBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    align-items: center;
    border-radius: var(--border-radius-fourth);
    border: none;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-fifth);
    letter-spacing: 0.28px;
    background-color: white;
    /* position: absolute;
    right: 20px;
    top: 16px */
  }

  .btnText {
    width: 36px;
    height: 18px;
  }
}