@import '../../../stylesheet/variables.css';
@media screen and (min-width: 768px) {
  .transactionTable {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  .transactionsText {
    margin-top: 35px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(233, 193, 241);
    text-align: center;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
  }

  .headCategory,
  .category {
    padding-left: 40px;
  }

  .headSum,
  .expensSum,
  .incomeSum {
    padding-right: 60px;
  }

  .category,
  .comment,
  .date,
  .headDate,
  .headCategory,
  .headComment {
    text-align: left;
  }

  .expensSum,
  .incomeSum,
  .balance,
  .headSum,
  .headBalance {
    text-align: right;
  }

  .transactionTable th:first-child,
  .bodyString td:first-child {
    padding-left: 20px;
  }

  .expensSum {
    color: var(--pink);
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
  }

  .incomeSum {
    color: var(--turquoise);
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
  }

  .headString {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--white);
  }

  .bodyString:not(:last-child) {
    border-bottom: 2px solid var(--border-table);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }

  .headString th:first-child {
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
  }

  .headString th:last-child {
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
  }

  .headString,
  .bodyString {
    height: 3.625rem;
  }

  .buttons {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .editBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    align-items: center;
    border-radius: var(--border-radius-fourth);
    border: none;
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-fifth);
    letter-spacing: 0.28px;
    background-color: transparent;
  }

  .btnDelete {
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-fourth);
    border: none;
    background: #24CCA7;
    color: var(--color-text-fifth);
    text-align: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-fifth);
  }

  .thead {
    border-radius: 30px;
    background: #FFF;
  }
}

@media screen and (min-width: 1280px) {
  .transactionTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    text-align: center;
    border-collapse: collapse;
  }
}