.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    /* margin-top: 60px; */
   
  }
  .modal {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-bottom: 40px;
    min-width: 320px;
    height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  .switch {
    background-color: rgb(202, 192, 180);
    height: 160px;
    width: 130px;
  }
  
  .btnAdd {
    background: #24cca7;
    margin-bottom: 20px;
    color: #fff;
    border: 0;
    margin-bottom: 20px;
  }
  
  .btn {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  
  .btnClose {
    background-color: #fff;
    border: solid 1px #4a56e2;
    color: #4a56e2;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 35px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000;
    min-width: 320px;
    padding-inline: 20px;
    
  }
  
  .title {
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .amountInput {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: calc(100% - 40px);
    outline: none;
    padding-inline: 20px;
    padding-bottom: 2px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .amountInput::placeholder {color: #e0e0e0;
    
font-family: Circe;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
  
  .numberWrapper {
    padding-top: 40px;
  }
  
  .comment {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: 40px;
    padding-top: 40px;
  }
  
  .comment::placeholder {
    padding-left: 10px;
    color:  #BDBDBD;
font-family: Circe;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .date {
    border: none;
    /* width: calc(100% - 40px); */
    outline: none;
    padding-inline: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    cursor: pointer;
  }
  
  .dateWrapper {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    width: calc(100% - 40px);
    outline: none;
    padding-bottom: 3px;
    padding-inline: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    position: relative;
   
  }
  
  .iconCallendar {
    position: absolute;
    top: 0;
    right: 120px;
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
  }
  
  .amountAndDate {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    /* align-items: center; */
  }
  
  .selectWrapper {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select {
    /* text-align: center; */
    padding-left: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding-bottom: 3px;
    margin-top: 40px;
    color: black;
    outline: none;
    border:none;
  }



  select:required:invalid {
    color: #BDBDBD;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.70);
  }


  
  .error {
    color: red;
  }
  
  .closeModalBtn {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .form {
      border-radius: 20px;
      
    }
  
    .modal {
      position: fixed;
      /* top:15%; */
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 10px; */
      border-radius: 20px;
      /* margin: auto 0; */
      height: 530px;
      /* min-height: 530px; */
      
    }
  
    .backdrop {
      /* margin-top: 0; */
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(107, 104, 104, 0.3);
    }
  
    .title {
      padding-top: 40px;
    }
  
    .closeModalBtn {
      /* color: rgb(21, 22, 23); */
      position: absolute;
      right: 10px;
      top: -25px;
      font-size: 18px;
      display: block;
      background-color: white;
      border: none;
      width:15px;
      height:15px;
    }
  
    .amountAndDate {
      display: flex;
      flex-direction: row;
      
    }
  
    .dateWrapper {
    align-items:flex-end;}
  
    .iconCallendar {
      top: 36px;
      right: 120px;
     
    }
    
  }
  
  