h1,
h2,
h4,
h5,
p,
ul,
body,
root,
address,
fieldset,
textarea {
    margin: 0;
    padding: 0;
    font-style: normal;
    resize: none;
}

body {
    width: 100%
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.registrationFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 320px;
    max-height: 568px;

}

.registrationBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    max-height: 586px;
    background: #FFF;
    padding-top: 32px;
    padding-bottom: 36px;
}


/* Logo */
.logo {
    width: 119.464px;
    height: 30px;
}

.desktopLogo {
    display: none;
}

/* Input */

.inputList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 36px;
    padding-bottom: 40px;
    padding-top: 55px;
}

.inputBox {
    position: relative;
    width: 280px;
    background-color: white;
}

.inputBox__icon {
    position: absolute;
    top: 5px;
    left: 15px;
}

.inputBox__input {
    border: none;
    border-bottom: solid 1px #E0E0E0;
    color: #BDBDBD;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 54.5px;
    height: 32px;
    width: 225.5px;
}


/* Buttons */
.registrationBtnList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.registrationBtn {
    border-radius: 20px;
    border: 1px solid #4A56E2;
    background: #FFF;
    width: 280px;
    height: 50px;
    color: #4A56E2;
    text-align: center;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

.registrationBtnCurrentPage {
    border-radius: 20px;
    border: 1px solid #ffffff;
    background: #24CCA7;
    width: 280px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

@media screen and (min-width: 768px) {
    .pageContainer {
        max-width: 1199px;
        background: #E7EAF2;
        height: fit-content;
        background-image: url(/src/assets/icons/ellipse1.svg), url(/src/assets/icons/phoneImg.svg), url(/src/assets/icons/ellipse2.svg);
        background-size: 618px 547px, 248.122px 250px, 450px, cover;
        background-repeat: no-repeat;
        background-position: bottom 0px left 0px, top 60px left calc(50% - 124px), top 0px right 0px;
    }

    .registrationFormContainer {
        max-width: 533px;
        max-height: 616px;
        margin-top: 360px;
        margin-bottom: 48px;
    }

    .registrationBox {
        width: 533px;
        max-height: 616px;
        border-radius: 20px;
        background: #FFF;
        padding-top: 40px;
        padding-bottom: 66px;
    }

    /* Logo */
    .logo {
        width: 181px;
        height: 40px;
    }

    /* Input */

    .inputBox {
        width: 409.5px;
    }

    .inputBox__input {
        width: 355px;
    }


    /* Buttons */


    .registrationBtn {
        width: 300px;

    }

    .registrationBtnCurrentPage {
        width: 300px;

    }

}

@media screen and (min-width: 1200px) {
    .pageContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100vw;
        height: 100vh;
        background-image: url(/src/assets/icons/phoneImg.svg), url(/src/assets/icons/ellipse1.svg), url(/src/assets/icons/ellipse2.svg);
        background-size: 618px 547px, 618px, 450px, cover;
        background-repeat: no-repeat;
        background-position: bottom 75% left calc(50% - 355px), bottom 0px left 0px, top 0px right 0px;
    }

    .content {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }

    .registrationFormContainer {
        margin-top: 52px;
        margin-bottom: 52px;
        padding-left: 107px;
        padding-right: 91px;
        /* position: relative; */

    }

    .registrationBox {
        width: 533px;
        max-height: 616px;
        border-radius: 20px;
        background: #FFF;
        padding-top: 40px;
        padding-bottom: 66px;
    }

    /* Logo */
    .logo {
        width: 181px;
        height: 40px;
    }

    .desktopLogo {
        display: flex;
        align-items: end;
        height: 100vh;
        width: 40%;
        margin: 0 auto;

    }

    .headerRegistration {
        color: #000;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 187px;
        padding-bottom: 85px;
        padding-left: 280px;

    }

    /* Input */

    .inputBox {
        width: 409.5px;
    }

    .inputBox__input {
        width: 355px;
    }


    /* Buttons */


    .registrationBtn {
        width: 300px;

    }

    .registrationBtnCurrentPage {
        width: 300px;

    }

}