.stats-container {
  display: flex;
  flex-direction: column;
  /* padding-top: 40px; */
  @media (min-width: 1280px) {
    padding-top: 40px;
    padding-left: 20px;
  }
}

.stats-section {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.stats-title {
  font-family: "Poppins";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 8px;
  }
}
