.currency {
  display: flex;
  justify-content: space-between;
}

.containerTable {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .containerTable {
    margin: 1.25rem auto 0 auto;
    max-width: 44rem;
  }
  .currency {
    width: 704px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .largeSize {
    display: flex;
    flex-direction: row;
    width: 100vh;
  }

  .leftSize {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 69px;
  }

  .containerTable {
    width: 100%;
    margin-top: 46px;
    margin-left: -16px;
  }
  .rightSize {
    width: 100vh;
    padding-left: 69px;
    margin-left: 1px;
    margin-top: 0px;

    max-width: 44rem;
    border-left: 1px solid rgba(231, 229, 242, 1);
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05);
  }
}